:root{
    --font-base--poppins: 'Poppins', sans-serif;
    --secondary-font-quicksand: 'Quicksand', sans-serif;
    
    --btn-primary-color: #D83A3A;
    --shade-0: #000000;
    --shade-1: #f2f2f2;
    --shade-2: #D9D9D9;
    --shade-3: #BFBFBF;
    --shade-4: #A6A6A6;
    --shade-5: #8C8C8C;
    --shade-6: #737373;
    --shade-7: #595959;
    --shade-8: #404040;
    --shade-9: #0D0D0D;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}
*{
    margin: 0;
    padding: 0;
} 
html{
  scroll-behavior: smooth;
}
body{
    background-color: var(--shade-1);
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1204px;
    margin: 0 auto;
}
h1{
    font-size: 34px;
    font-family: var(--font-base--poppins);
    color: var(--shade-8);
    font-weight: var(--fw-bold);
}
.logo p{
    color: var(--btn-primary-color);
    font-family: var(--secondary-font-quicksand);
    font-weight: var(--fw-semibold);
    font-size: 18px;
    margin-top: -10px;
}
nav ul {
    display: flex;
    gap: 27px;
    list-style: none;
}
nav ul li a{
    font-family: var(--secondary-font-quicksand);
    font-size: 18px;
    color: var(--shade-8);
    font-weight: var(--fw-semibold);   
    text-decoration: none;  
}
/*Empieza la seccion: HERO*/
.hero-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1204px;
    margin: 0 auto;
}
.hero-img{
    position: relative;
    display: inline-block;
}
.hero-img img{
    display: block;
    width: 100%;
    width: 1204px;
    height: 550px;
    object-fit: cover;
    border-radius: 20px;
}
.hero-img::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(225deg, #000000 0%, #160246 64%);
    opacity: 0.6;
    border-radius: 20px;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: left;
    margin-left: 92px;
}
/*
.work-av p{
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: var(--fw-regular);
    font-family: var(--font-base--poppins);
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    border-radius: 50px;
}
    */
.av-pill {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 20px;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: var(--font-base--poppins);
    font-weight: var(--fw-regular);
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}
.av-pill i {
    position: relative;
    font-size: 8px;
    color: chartreuse;
    line-height: 1;
}
.av-pill i::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid #378139;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
@keyframes pulse {
    0% { transform: scale(1); opacity: .7; }
    50% { transform: scale(1.1); opacity: .9; }
    100% { transform: scale(1); opacity: .7 }
}
.av-pill i {
    animation: pulse 1.5s infinite;
}
.hero-text p:nth-of-type(1){
    font-size: 38px;
    font-family: var(--font-base--poppins);
    color:#FFFFFF;
    font-weight: var(--fw-semibold);
    margin-bottom: -15px;
}
.hero-text h2{
    margin: 0;
    font-size: 48px;
    font-family: var(--font-base--poppins);
    color: var(--shade-8);
    font-weight: var(--fw-bold);
    background-image: linear-gradient(45deg, #FFB922 20%, #E81FB6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.hero-text p:nth-of-type(2){
    margin-top: -10px;
    font-size: 20px;
    font-family: var(--secondary-font-quicksand);
    color: #FFFFFF;
    font-weight: var(--fw-medium);
}
.hero-text p:nth-of-type(3){
    padding: 20px 0 20px 0;
    font-size: 18px;
    font-family: var(--secondary-font-quicksand);
    color: #FFFFFF;
    font-weight: var(--fw-medium);
    max-width: 70%;   
}
.hero-btns {
    display: flex;
    gap: 20px;
}
.hero-btns a{
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--secondary-font-quicksand);
    font-weight: var(--fw-semibold);
    color: #ffffff;
    display: inline-flex;
    align-items: center;
}
.hero-btns i{
    margin: 0 10px 0 0px;
    font-size: 22px;
    line-height: 1; 
}
.hero-btns a:nth-of-type(1){
    background: rgba(255, 255, 255, 0.15);
    text-decoration: none;
}
.hero-btns a:nth-of-type(2){
    background: var(--btn-primary-color);
    text-decoration: none;
}
/*Empieza la seccion: SOBRE MÍ*/
.about-me{
    max-width: 1019px;
    margin: 0 auto;
    padding-top: 120px;
    display: grid;
    grid-template-columns: 274px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0 31px;
    align-items: start;
}
.about-me .about-image{
    grid-column: 1;
    grid-row: 1 / 4;
}
.about-me img{
    width: 274px;
    height: 342px;
    border-radius: 20px;
    display: block;
}
.about-me .btn-contact{
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
    align-self: start;
}
.about-description{
    color: var(--shade-6);
    font-size: 18px;
    font-family: var(--secondary-font-quicksand);
    font-weight: var(--fw-medium);
    margin-top: 14px;
    max-width: 700px;
}
.about-description p{
    margin:14px 0 14px 0;
}
.btn-contact{
    display: flex;
    gap: 20px;
}
.btn-contact a{
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--secondary-font-quicksand);
    font-weight: var(--fw-semibold);
    color:#ffffff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    background: var(--btn-primary-color);
}
.btn-contact i{
    margin: 0 10px 0 0px;
    font-size: 22px;
    line-height: 1; 
}
/*componentes reutilizables*/
.title{
    color: var(--shade-8);
    font-family: var(--font-base--poppins);
}
.subtitle{
    color: var(--shade-8);
    font-size: 16px;
    font-family: var(--font-base--poppins);
    margin-bottom: 2px;
}
.description{
    color: var(--shade-6);
    font-size: 18px;
    font-family: var(--secondary-font-quicksand);
    font-weight: var(--fw-medium);
    margin-top: 14px;
}
.contact{
    margin-top: 120px;
}
div form label{
    font-family: var(--font-base--poppins);
    font-size: 16px;
    color: var(--shade-8);
}