:root{
    --font-base--poppins: 'Poppins', sans-serif;
    --secondary-font-quicksand: 'Quicksand', sans-serif;
    
    --btn-primary-color: #D83A3A;
    --shade-0: #000000;
    --shade-1: #f2f2f2;
    --shade-2: #D9D9D9;
    --shade-3: #BFBFBF;
    --shade-4: #A6A6A6;
    --shade-5: #8C8C8C;
    --shade-6: #737373;
    --shade-7: #595959;
    --shade-8: #404040;
    --shade-9: #0D0D0D;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}
*{
    margin: 0;
    padding: 0;
} 
body{
    background-color: var(--shade-1);
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1204px;
    margin: 0 auto;
}
h1{
    font-size: 34px;
    font-family: var(--font-base--poppins);
    color: var(--shade-8);
    font-weight: var(--fw-bold);
}
.logo p{
    color: var(--btn-primary-color);
    font-family: var(--secondary-font-quicksand);
    font-weight: var(--fw-semibold);
    font-size: 18px;
    margin-top: -10px;
}
nav ul {
    display: flex;
    gap: 27px;
    list-style: none;
}
nav ul li a{
    font-family: var(--secondary-font-quicksand);
    font-size: 18px;
    color: var(--shade-8);
    font-weight: var(--fw-semibold);   
    text-decoration: none;  
}